{% extends "layout.html" %} {% block content %}

<div class="algoWrapper">
    <div class="algoWrapper__card">
        <h1>Majority element in a array</h1>
        <h2>About this problem</h2>
        <p>
            Write a function which takes an array and prints the majority element (if it
            exists), otherwise prints “No Majority Element”.<br />
            A majority element in an array A[] of size n is an element that appears more
            than n/2 times (and hence there is at most one such element).
        </p>

        <form href="#" method="post">
            <p>PLEASE FILL THE REQUIRED FIELDS</p>

            <div class="formGroup">
                <input type="text" name="array" placeholder="Enter the array" required />
                <input type="submit" value="submit" class="button button--primary" />
            </div>
        </form>
        <a class="learnMoreLink" href="https://www.geeksforgeeks.org/majority-element/">
            Learn more about this problem
        </a>
    </div>
</div>

{% endblock content %}
